# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/local.properties
android/.gradle/
android/captures/
*.jks
*.keystore
key.properties

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store
